#user-list{
    width: 100%;
    height: 100vh;
    background-image: url(../../img/food_background.jpg);
}
.user-list-table {
    width: 80%;
    color: #D3D3AE;
    border-collapse: collapse;
    border: 1px solid #D3D3AE;
    margin: auto;
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.user-list-table thead th {
    border-bottom: 1px solid #D3D3AE;
    border-left: 2px solid #D3D3AE;
    padding: 10px 10px;
    text-align: center;
}

.user-list-table thead th:first-child {
    border-left: none;
}

.user-list-table tbody td {
    border-right: 1px solid #D3D3AE;
    
    text-align: center;
    padding: 20px 0;
}

.user-list-table tbody td a {
    color: #D3D3AE;
}

.user-list-table tbody td button {
    border: none;
    padding: 5px 4px;
    font-size: 2rem;
    border-radius: 5px;
    background-color: inherit;
    color: #DC143C;
    transition: all .1s ease-in-out;
    cursor: pointer;
}
.user-list-table .bg-warning {
    background-color: rgb(51, 0, 0);
}
.user-list-table .bg-success{
    background-color: darkgreen;
}
#user-list .navigation-page {
    margin-top: 20px;
}

#user-list .navigation-page ul {
    text-align: center;
}

#user-list .navigation-page ul li {
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 10px;
}
#user-list .navigation-page ul li a{
    color: #DC143C;
    
    padding: 5px;
    border-radius: 8px;
}
#user-list .navigation-page ul li .active{
    border: 2px solid #DC143C;
}