<link rel="stylesheet" href="~/css/about.css">
<section id="about">
    <div class="container">
        <div class="about-text">
            <p>Distinguished by delicious dishes</p>
            <h2><span>My</span> Restaurant</h2>
        </div>
        <div class="about-info-all">
            <div class="about-info">
                <i class="fa-solid fa-location-dot"></i>
                <p class="info-title">Location</p>
                <p class="info-text">Azerbaijan , Baku</p>
            </div>
            <div class="about-info">
               <i class="fa-solid fa-signal"></i>

               <p  class="info-title">Phone</p>
                <p class="info-text">+994 00 000 00 00</p>
            </div>
            <div class="about-info">
                <i class="fa-solid fa-clock"></i>
                <p  class="info-title">Open</p>
                <p class="info-text">7/24</p>
            </div>
        </div>
        <div class="about-images">
            <div><img src="~/img/image1.jpg" alt="my restaurant"></div>
            <div><img src="~/img/image4.jpg" alt="my restaurant"></div>
            <div><img src="~/img/image3.jpg" alt="my restaurant"></div>
            <div><img src="~/img/image2.jpg" alt="my restaurant"></div>
            <div><img src="~/img/image5.jpg" alt="my restaurant"></div>
            <div><img src="~/img/image3.jpg" alt="my restaurant"></div>
        </div>
    </div>
</section>