<link rel="stylesheet" href="~/css/header.css">
<header >
    <div class="bg"></div>
    <div class="container">
        <h3 class="header-title">Your lovely place <br> <strong><span>My</span>  Restaurant</strong></h3>
        
    </div>

</header>
