<link rel="stylesheet" href="~/css/menu.css">
<section id="menu">
    <div class="container">
        <h4>Suggested dishes from the menu</h4>
        <div class="menu-images">
            <div class="food">
                <div>
                    <img src="~/img/image6.jpg" alt="salad">
                </div>

                <strong>Salad</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quisquam aut veniam obcaecati ea odio,
                    reprehenderit deserunt tenetur dignissimos id earum in, omnis, necessitatibus quidem cum autem
                    debitis minima aperiam!</p>
            </div>
            <div class="food">
                <div>
                    <img src="~/img/image7.jpg" alt="burger">
                </div>
                <strong>Burger</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quisquam aut veniam obcaecati ea odio,
                    reprehenderit deserunt tenetur dignissimos id earum in, omnis, necessitatibus quidem cum autem
                    debitis minima aperiam!</p>
            </div>
            <div class="food">
                <div>
                    <img  src="~/img/image8.jpg" alt="dessert">
                </div>
                <strong>Dessert</strong>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quisquam aut veniam obcaecati ea odio,
                    reprehenderit deserunt tenetur dignissimos id earum in, omnis, necessitatibus quidem cum autem
                    debitis minima aperiam!</p>
            </div>
        </div>
        <p class="menu-link"><a href="">Menu</a></p>
    </div>
</section>
