@model CategoryModel
<link rel="stylesheet" href="~/css/admin/addcategory.css">
@await Html.PartialAsync("_admin-navbar")
<section id="category_create">
    <div class="container">
        <h1>Add Category</h1>
        <form asp-controller="Admin" asp-action="AddCategory" method="POST">
            <div>
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name">
                <div class="model-alerts">
                    <span asp-validation-for="Name" class="model-alert"></span>
                </div>
            </div>
             <div>
                <label asp-for="Url"></label>
                <input type="text" class="form-control" asp-for="Url">
                <div class="model-alerts">
                    <span asp-validation-for="Url" class="model-alert"></span>
                </div>
            </div>
            <button type="submit" class="btn">Add Category</button>
        </form>
    </div>

</section>
@section Scripts
{
<script src="~/js/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor');

</script>
}