@model List<OrderItem>
@await Html.PartialAsync("_admin-navbar")
<section id="order-details">
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>Food Image</th>
                    <th>Food Name</th>
                    <th></th>
                </tr>
                
            </thead>
        </table>
    </div>
</section>